<!doctype html>
<html>
  <head>
    <title> Calculator </title>
  </head>

  <body>
    <h1> Calculator </h1>
    <form method="post" action="/">
      <input type="number" name="firstNumber" required><br>

      <select name="operationsList">
        <option value="addition">+</option>
        <option value="subtraction">-</option>
        <option value="multiplication">*</option>
        <option value="division">/</option>
        <option value="exponent">*</option>
      </select>

      <br><input type="number" name="secondNumber" required>
      <br><input type="submit">
    </form>
  </body>
</html>