<!doctype html>
<html>
  <head>
    <title> Calculator </title>
  </head>

  <body>
    <h1> Calculator </h1>
    <form method="post" action="/">
      <input type="number" name="firstNumber" required><br>

      <select name="operationsList">
        <option value="addition" name="addition">+</option>
        <option value="subtraction" name="subtraction">-</option>
        <option value="multiplication" name="multiplication">*</option>
        <option value="division" name="division">/</option>
        <option value="exponent" name="exponent">*</option>
      </select>

      <br><input type="number" name="secondNumber" required>
      <br><input type="submit">
    </form>
    
    <p> ANSWER: </p>
    {{#calculation}}
    {{ calculation }}
    {{/calculation}}
    
    
  </body>
</html>